body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
}

h2 {
  text-align: center;
}

.form-control {
  margin-bottom: 15px;
  position: relative;
}

.form-control input {
  width: 100%;
  padding: 10px;
  border: 2px solid #4d3b3b;
  border-radius: 5px;
  outline: none;
}

.form-control.success input {
  border-color: #05f55d;
}

.form-control.error input {
  border-color: #f70b0b;
}

.form-control small {
  color: #fc0505;
  position: absolute;
  bottom: -18px;
  left: 0;
  visibility: hidden;
  font-size: 12px;
}

.form-control.error small {
  visibility: visible;
}

button {
  width: 100%;
  padding: 10px;
  background: #062b7a;
  color: rgb(255, 254, 254);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #050583;
}